@import '../../../../scss/main';

button {
  @include font-fallback-chain-primary;
  @include typo-h3;
  background-color: $color-black;
  border: 0;
  color: $color-white;
  cursor: pointer;
  font-style: italic;
  height: 9 * $grid-size;
  outline: none;
  padding: 0 6 * $grid-size;
  transition: opacity $transition-fast ease-in-out;
  width: 100%;

  &[disabled] {
    opacity: .3;
    pointer-events: none;
    user-select: none;
  }

  &:hover {
    opacity: .75;
  }

  &:active {
    opacity: .5;
  }

  &.primary {
    background-color: $color-yellow;
    color: $color-black;
  }

  &.secondary {
    background-color: $color-grey-4;
    color: $color-white;
  }

  &.inverted {
    background-color: $color-offwhite;
    color: $color-black;
  }

  &.border-button {
    @include font-fallback-chain-secondary;
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid;
    border-color: #000;
    border-top: 1px solid;
    color: #000;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-style: normal;
    height: 9 * $grid-size;
    justify-content: center;
    line-height: 21px;
    max-width: $p-max-width;
    opacity: .5;
    transition: none $transition-fast ease-in-out;
    transition-property: color, border-color, opacity;

    &:hover {
      opacity: 1;
    }
    @media screen and (max-width: $break-mobile) {
      /* height: 5 * $grid-size; */
      height: auto;
      justify-content: flex-start;
      margin: 0;
      padding-bottom: $grid-size;
      padding-top: $grid-size;
      width: 100%;

      &:not(:first-child) {
        margin-top: -1px;
      }

      &.active {
        z-index: 1;
      }
    }
  }
}

.button-wrapper {
  outline: none;

  &:focus-within,
  &:focus {
    @include focus-effect;
  }

  @media screen and (min-width: #{$break-mobile + 1px}) {
    &:not(:last-child) {
      margin-right: 2 * $grid-size;
    }
  }

  &.active {
    border-color: $color-blue;
    color: $color-blue;
    cursor: default;
    opacity: 1;
  }
}
