@import '../../../../scss/main';

$pal-white: $color-white;
$pal-grey: $color-grey;

.form-view {
  padding-left: 0 !important;
  padding-right: 0 !important;

  form {
    flex: 1;
    height: 100%;

    fieldset > :not(:first-child),
    > :not(:first-child) {
      margin-top: 1px;
    }

    .custom-input-wrapper,
    select,
    input,
    textarea {
      border-radius: 0;
    }

    footer {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-end;

      > * {
        &:not(:first-child) {
          border-top: 1px solid $pal-grey;

          &.primary {
            border-color: $pal-white;
          }
        }
      }
    }
  }
}

.form-fixed {
  position: fixed;
  z-index: 1;
}
