@import '../../../../scss/main';

$pal-red: $color-red;
$pal-grey-light: $color-beige;
$pal-white: $color-white;

form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }

  *[required] {
    transition: background-color $transition-fast ease-in-out;
  }
}
