@import '../../../../scss/main';

.input-with-label {
  position: relative;
  width: 100%;

  &.validation-error {
    small {
      opacity: 1;
    }
  }

  label {
    @include typo-p-small;
    align-self: flex-start;
    height: auto;

    &:not(.input-wrapper) {
      color: $color-grey-2;
      margin-bottom: 0 !important;
    }

    &.checkbox {
      justify-content: center;
    }

    &.hidden-if-empty {
      opacity: 0;
      transition: opacity $transition-fast ease-in-out;

      &.hasvalue {
        opacity: 1;
      }
    }
  }

  small {
    @include typo-x-small;
    opacity: 0;
    position: absolute;
    top: calc(100% + #{.5 * $grid-size});
    transition: opacity $transition-fast ease-in-out;
  }
}
