@import '../../../../scss/main';

.modal {
  @include flex-center;
  background-color: rgba(0, 0, 0, .3);
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity $transition-fast ease-in-out;
  width: 100%;
  z-index: 10;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  main {
    @include typo-p;
    background-color: $color-white;
    line-height: 28px;
    max-width: 80vw;
    min-width: 40vw;
    padding: 4 * $grid-size;
  }
}
