@import '../../../../scss/main';

.radiogroup {
  border: 0;
  display: flex;
  font-style: italic;
  width: 100%;

  legend {
    @include typo-p-small;
    border: 0 solid $color-grey-3;
    border-bottom-width: 1px;
    color: inherit;
    font-style: normal;
    margin-bottom: 2 * $grid-size;
    padding-bottom: 2 * $grid-size;
    width: 100%;
  }

  label {
    @include typo-primary-20;
    height: auto;
    margin-bottom: 2 * $grid-size !important;
  }
}
