@import '../../scss/main';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // sass-lint:disable-line no-vendor-prefixes
  -webkit-touch-callout: none; // sass-lint:disable-line no-vendor-prefixes
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &[disabled],
  &.disabled {
    pointer-events: none;
  }
}

#react-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
